html {
    height: 100vh;
    min-width: 600px;
    background-image: linear-gradient(130deg, #f11010,#1859d1);
    background-repeat: no-repeat;
    background-size: auto;
}

.container {
    
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

h1{
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 750px;
    padding: 1.5rem 0;
    align-items: center;
}

.main {
    padding: 20px;
}

form {
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 5px;
    display: flex;
}

input {
    height: 30px;
    outline: 0;
    border: none;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    color: #595959;
    flex-grow: 1;
}

button {
    font-size: 1.5rem;
    background-color: #f89999;
    outline: 1;
    border: none;
    color: #595959;
}

button:hover {
    color: lightcoral;
}

.setdate {

    padding: 5px 15px;
}

.todoList {
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 25px;
    height: 100%;
    overflow-y: auto;
}

.add_button {
    display: flex;
    justify-content: flex-end;
    padding: 10px 3px;
    cursor: pointer;
    font-size: 0.9rem;
}

ul {
    padding-left: 0px;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    padding: 15px 0;
    font-size: 1rem;
    color: #595959;
}

i {
    pointer-events: none;
}

.todoItem {
    flex-grow: 1;
}

.clear {
    display: flex;
    justify-content: flex-end;
    padding: 10px 3px;
    cursor: pointer;
    font-size: 0.9rem;
}

.clear:hover {
    color: lightcoral;
}


/*js*/
.todoLists {
    transition: all 0.3s ease-out;
}



























